# Game API Endpoints
VITE_MLBB_HEROES_API=/api/heroes
VITE_MLBB_EQUIPMENT_API=/api/equipment
VITE_VALORANT_AGENTS_API=https://valorant-api.com/v1/agents
VITE_GENSHIN_CHARACTERS_API=https://genshin.jmp.blue/characters
VITE_LOL_CHAMPIONS_API=https://ddragon.leagueoflegends.com/cdn/14.1.1/data/en_US/champion.json
VITE_LOL_ITEMS_API=https://ddragon.leagueoflegends.com/cdn/14.1.1/data/en_US/item.json

# Social Media & Contact Links
VITE_MESSENGER_URL=https://m.me/ZeijinDiscountedTopUpSalePH
VITE_FACEBOOK_URL=https://www.facebook.com/ZeijinDiscountedTopUpSalePH
VITE_TELEGRAM_URL=https://t.me/Zeijin_Discounted_Top_Up_Sale_PH
VITE_INSTAGRAM_URL=https://www.instagram.com/zeijindiscountedgame

# App Configuration
VITE_MOBILE_BREAKPOINT=480
VITE_APP_NAME=Zeijin Discounted Top Up Sale PH
VITE_APP_DESCRIPTION=Best prices for discounted game currency packages on Philippine servers
